.App {
  text-align: center;
}

body {
  background: linear-gradient(153deg, #c5f9d7, #f7d486, #f27a7d);
  min-height: 100vh;
}

.app-wrap {
  display: flex;
  flex-wrap: nowrap;
}

.column {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column h2 {
  padding: 8px 15px;
  background-color: #f27a7d;
  font-size: 1.5rem;
  border: solid 0px;
  border-radius: 5px;
  color: whitesmoke;
}

.template-selector-wrap {
  width: 300px;
  margin: 25px;
  border: solid 5px;
  border-color: whitesmoke;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 15px 15px 0px 5px #000000;
}

.options-wrap {
  margin: 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.wrap {
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  color: black;
  font-style: bold;
  font-size: 17px;
}

input {
  text-align: center;
}

.template-img {
  width: 100%;
  cursor: pointer;
  margin-bottom: 10px;
}
.template-selector {
  width: 100%;
  height: 80vh;
  overflow: scroll;
}
.template-img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
